@model AppIdentity.Samples.Areas.AdministracionPerfil.Models.RegistroContactosView

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Editar Contacto
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.HiddenFor(model => model.Id,Model.Id)
                        @Html.HiddenFor(model => model.ContactosID,Model.ContactosID)*@

                        @*@Html.Hidden("Id",Model.Id)
                        @Html.Hidden("ContactosID", Model.ContactosID)*@
                        <input id="Id" name="Id" type="hidden" value="@Model.Id">
                        <input id="ContactosID" name="ContactosID" type="hidden" value="@Model.ContactosID">

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>





</div>
